@{
    ViewData["Title"] = "Operar en la bolsa";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button>
        <a asp-controller="Bolsa" asp-action="Index">OPERAR</a>
    </button>
</div>
